.aboutIcon {
  border-top: 10px solid #f7b61c !important;
  border-bottom: 10px solid #f7b61c !important;
  border-left: 10px solid #f7b61c !important;
  border-right: 2px solid #f7b61c !important;
}
